/* 
 * reset 
 */
body {
	margin:0;
	padding:0;
	font-family:'Source Sans Pro', sans-serif;
}
h1 { font-size:2.00em;font-weight:normal;margin:0; }
h2 { font-size:1.75em;font-weight:normal;margin:0; }
h3 { font-size:1.50em;font-weight:normal;margin:0; }
h4 { font-size:1.25em;font-weight:normal;margin:0; }
h5 { font-size:1.00em;font-weight:bold;margin:0;  }
h6 { font-size:1.00em;font-weight:bold;margin:0; }
pre { 
	margin:1em;
	border:1px solid #CCC; 
	padding:10px;
	overflow:auto;
	-webkit-overflow-scrolling:touch; 
}
div {margin:0;border:0;outline:0;padding:0;}
p {margin:0 0 0.5em 0;border:0;outline:0;padding:0;}
blockquote {margin:1em 1.5em 1em 1.5em;border:0;outline:0;padding:0;}
b,strong {font-weight:bold;}
i,em {font-style:italic;}
a {text-decoration:none;word-wrap:break-word;}

/* app styles */

body {font-family:sans-serif;}

